DATABASE_URL=
DIRECT_URL=
JWT_SECRET=

EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="465"
EMAIL_SECURE="true"
EMAIL_USER="seu-email@gmail.com"
EMAIL_PASSWORD="sua-senha-de-app"
EMAIL_FROM="DevBoard <seu-email@gmail.com>"

SUPABASE_URL=
SUPABASE_SECRET_KEY=

BASE_URL=
FRONTEND_URL=

ACCESS_TOKEN=
ACCESS_TOKEN2=
USER_ID=
USER2_ID=
PROJECT_ID=
TASK_ID=
MEMBER_ID=
MEMBER2_ID=